.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: tomato;
    
}

.img{
    height: 300px;
    width: 100%;


}
.imgmobile{
    height: 300px;
    width: 200px;
}
.social{
    margin: 10px;
}
.curriculo{
    margin-top: 10px;
}