.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: tomato;
    
}
.imgmobile{
    height: 70%;
    width: 40%;
   
}
.img{
    height: 70%;
    width: 95%;
}
@media(max-width: 1024px){
    .img{
        height: 50%;
    }
    
    
}
@media(max-width: 1024px){
    .imgmobile{
        height: 65%;
    }
    
    
}

.social{
    margin: 10px;
}
.curriculo{
    margin-top: 10px;
}
.boximg{
    margin-top: 30px;
    height: 100%;
    width: 100%;
   background-color:#4c90c969 ;
   border-radius: 500px;
   box-shadow: 0 0 2em #4c91c9;
   margin-left: 70px;
}
.logo.ul{
    
    margin-left:-100px;

}